#root {
  margin: 0 auto;
  text-align: center;
}
:root {
  --primary-color: #ef5773;
  --secondary-color: #4caf50;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.side {
  flex-basis: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.middle {
  flex-basis: 70%;
  padding: 20px;
  box-sizing: border-box;
}

.image-section {
  height: 50vh;
  background-color: var(--bg-dark);
  background-image: url(https://i.imgur.com/LQvRsRN.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

a.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  &:hover {
    background-color: var(--secondary-color);
  }
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  &:hover {
    background-color: var(--secondary-color);
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    color: var(--secondary-color);
  }
}
